<div class="container">
  <div class="grid">
    <div class="col-8 md:col-8 lg:col-8 ">

      <div class="inpt">
        <label>Caminho Projeto</label>
        <input type="file" pInputText class="p-inputtext-sm" webkitdirectory = "true" directory />

      </div>

      <div class="inpt">
        <label>Branch Origem </label>
        <input type="text" pInputText class="p-inputtext-sm"  />
      </div>

      <div class="inpt">
        <label>Nova branch </label>
        <input type="text" pInputText class="p-inputtext-sm"  />
      </div>

      <div class="inpt">
        <label>Usuario </label>
        <input type="text" pInputText class="p-inputtext-sm"  />
      </div>

      <div class="inpt">
        <label>Crendencial </label>
        <input type="text" pInputText class="p-inputtext-sm"  />
      </div>


    </div>
    <div class="col-4 md:col-4 lg:col-4">B</div>

</div>
</div>


