.container{
  padding: 3% 5% 3% 5%;

  .inpt{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    width: 50%;
    margin-bottom: 5%;


    label{
      margin-bottom: 10px;;
    }

    .focus\:border-primary:focus {
      border-color: var(#FF5722) !important;
    }




  }


  .container-card-2{
    width: 100%;
    margin-top: 30% !important;

    .cardMsg{
      width: 100%;
    }

  }
  .cardcrr{
    width: 100%;
    margin-top: 2% !important;
  }

}
