<div class="container">
  <div class="grid">
    <div class="col-12 sm:col-12 md:col-8 lg:col-8 ">

      <div class="card">

        <div class="formgrid grid" [formGroup]="formInput">
            <div class="field col-12 md:col-6">
                <label for="firstname6">Branch Referencia</label>
                <input id="firstname6" type="text" [formGroup]="formInput" formControlName="baseBranch" [(ngModel)]="baseBranch" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"  >
                <div style="font-size: 83%;color: #FF5722;margin-left: 2%;margin-top: 2%;border-color: var(#FF5722) !important;" *ngIf="formInput.get('baseBranch')?.errors?.['required'] && formInput.get('baseBranch')?.touched">
                  Branch Referencia obrigatório
                </div>
            </div>

            <div class="field col-12 md:col-6">
                <label for="lastname6">Nova Branch</label>
                <input id="lastname6"  [(ngModel)]="newBranch" [formGroup]="formInput" formControlName="newBranch" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                <div style="font-size: 83%;color: #FF5722;margin-left: 2%;margin-top: 2%;border-color: var(#FF5722) !important;" *ngIf="formInput.get('newBranch')?.errors?.['required'] && formInput.get('newBranch')?.touched">
                  Nova branch obrigatório
                </div>
            </div>
            <div class="field col-12">
                <label for="address">Caminho do Projeto</label>
                <textarea id="address" [(ngModel)]="path" [formGroup]="formInput" formControlName="path" type="text" rows="4" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"></textarea>
                <div style="font-size: 83%;color: #FF5722;margin-left: 2%;margin-top: 2%;border-color: var(#FF5722) !important;" *ngIf="formInput.get('path')?.errors?.['required'] && formInput.get('path')?.touched">
                  Caminho do Projeto obrigatório
                </div>
            </div>

            <div class="field col-12 md:col-12" >
              <button  pButton pRipple type="button" (click)="submit()" [disabled]="!formInput.valid" label="Executar" class="p-button-raised" style="background: #FF5722; border: none; width: 20%; margin-top: 5%;"></button>
              <button  pButton pRipple type="button" (click)="redirectInicio()"  label="Inicio" class="p-button-raised" style="background: #FF5722;border: none; float:right; width: 20%;margin-left: 30%;margin-top: 5%;"></button>

            </div>

          </div>
    </div>


    </div>

    <div class="col-4 md:col-4 lg:col-4">
      <div class="container-card">
        <p-card header="Log " styleClass="cardMsg">
          <p-progressSpinner *ngIf="progressTime" [style]="{width: '50px', height: '50px', color:'#FF5722', stroke:'#FF5722'}"></p-progressSpinner>
          <h5 style="white-space: pre-line;" >{{responseMessage}}</h5>
        </p-card>
      </div>
    </div>

</div>


</div>


